* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      user-select: none;
      transition: .75s opacity;
}

div.screen {
      width: 100vw;
      height: 100vh;
      position: absolute;
}

div.screen.top {
      z-index: 2;
}

div.screen.hidden {
      z-index: 1;
      display: none;
}

div.intro {
      background: #8BC34A;
      z-index: 1;
}

div.start {
      background: #03A9F4;
}

canvas#game {
      position: absolute;
      background: #4CAF50;
      bottom: 0;
}